<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.maccasoft.ui.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.maccasoft.ui.internal.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="com.maccasoft.ui.workbench"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.maccasoft.ui.application"
            description="%aboutText"
            name="RCP Application Template">
         <property
               name="windowImages"
               value="eclipse16.gif,eclipse32.gif,eclipse48.gif,eclipse64.png,eclipse128.png,eclipse256.png"/>
         <property
               name="aboutImage"
               value="about.png"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="appName"
               value="RCP Application Template"/>
         <property
               name="applicationXMI"
               value="org.eclipse.ui.workbench/LegacyIDE.e4xmi"/>
         <property
               name="cssTheme"
               value="com.maccasoft.ui.css.theme.default"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="com.maccasoft.ui.css.theme.default"
            label="Default">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open the selected object."
            id="org.eclipse.ui.file.open"
            name="Open">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.settings"
            name="Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hide unwanted contributions"
            id="com.maccasoft.activities.hideContributions"
            name="Hide Contributions">
      </activity>
      <activityPatternBinding
            activityId="com.maccasoft.activities.hideContributions"
            pattern="org.eclipse.ui/org.eclipse.ui">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.eclipse.ui.preferencePages.Appearance"
            name="Appearance"/>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:perspectivesPreferencePage"
            id="org.eclipse.ui.preferencePages.Perspectives"
            name="Perspectives"/>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="Keys"/>
      <page
            class="com.maccasoft.ui.internal.application.WorkbenchPreferencePage"
            id="org.eclipse.ui.preferencePages.Workbench"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension  
         point="org.eclipse.ui.views">  
      <view  
            name="Progress View"  
            icon="icons/eview16/pview.gif"  
            category="org.eclipse.ui"  
            class="org.eclipse.ui.ExtensionFactory:progressView"  
            id="org.eclipse.ui.views.ProgressView">  
      </view>  
   </extension>
</plugin>
